<%- include _layouts/header.ejs %>

<div class=" container aboutme">
        <h1 class="my-4">Edwin Cabansag</h1>
         <br><br>
        <p class="bio"> 
            <img class= "responsive-img edwin" src="https://i.imgur.com/4HPOctc.jpg" alt="edwin"> <br>Edwin M. Cabansag holds 45 years of service in the Radiology Imaging Industry. Employed in an X-ray supervisory role in one of the most prestigious hospitals in Chicago, Edwin oversaw the needs of the Radiology department. Edwin was continually asked to assist in holding uncooperative children during the x-ray procedures.  He was left to ask parents and other medical personnel to restrain the children. Never the less numerous of repeat procedures were done due to motion anomalies appearing on film. The people holding the children also had received the same radiation dose as the patient. This encouraged Edwin to invent a more efficient immobilizing device. Soon by 1975 Edwin fabricated his first immobilizer prototype. Many iterations after that were constructed,  Edwin finally perfected it to it’s current design in 2010. The EC Immobilizer is a one of a kind solution for the vital needs of the Radiology Imaging Industry. <br><br>
            Published Article:  Immobilizer in Pediatric Radiology 1975 by American Society of Radiology 
            Technologist / Vol. 48. No.3 / pages 269-271 <br>
            Printed in the USA by Edwin M. Cabansag RT.ARRT.CRT.RDMS   </p>
      </div>

      <%- include _layouts/footer.ejs %>