<%- include _layouts/header.ejs %>
<div class= "conainer" >
    <h1 class=" my-4">EC Pediatric Restraining Chair</h1><br>
    <img class="center" src="https://i.imgur.com/OY9CybX.jpg" height="350" width="400" alt="chair"><br>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

</div>

<%- include _layouts/footer.ejs %>