<%- include _layouts/header.ejs %>

<div class=" container aboutme">
        <h1>Contact Us</h1>
       <br><br>
        <p class="contactus"> For further review and to receive our live product presentation, contact us: <br><br>
            <ul>
                <li class= "contact">EC Immobilizer Corporation</li>
               <li class = "contact"> 2415 Brookridge Drive
                Plainfield, IL 60586</li>
               <li class= "contact"> Tel. (818) 967-7241</li>
               <li class= "contact"> Email: ec.immo@yahoo.com</li>
                </ul>
            </p>
      </div>

      <%- include _layouts/footer.ejs %>