<%- include _layouts/header.ejs %>
    <div class= "container">
        <h1 class= "my-4">EC Pediatric Immobilizer Device</h1> <br>
        <img class= "center" src="https://i.imgur.com/KeE1ate.jpg" height="350" width="400" alt="immobilizer device"> <br>
        <ul class= 'center'>
            <li>100% total body immobilization from head to toe</li><br>
            <li>Can accomodate 8 month old infants up to children 6 years of age</li><br>
            <li>Is best utilized in CAT/SCAN, MRI, and Nuclear Medicine as well as other procedures such as ultrasound, PET scan, and Fluoroscopy</li><br>
            <li>No drug sedation needed for any procedures with this device</li><br>
            <li>FDA approved and made in the USA</li>
        </ul><br><br>
        <div class= "my-4">
        <a class= "purch" href="/products/ec-pediatric-immobilizer/ec-pediatric-immobilizer-device-mdl.-gapos-102">PURCHASE</a>
        </div>
    </div>
<%- include _layouts/footer.ejs %>