<%- include _layouts/header.ejs %>
<div class= "bg">
<div id= "readjust" class="container">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
                <li data-target="#carousel" data-slide-to="5"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner carousel-zoom">
                <div class="active item"><img class="img-responsive" src="https://i.imgur.com/wNmGsLc.jpg">
                  <div class="carousel-caption">
                    <h2>EC Immobilzer Pediatric Restraining Chair</h2>
                    <p></p>
                  </div>
      
                </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/crEMw1o.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer Restraining Chair</h2>
                    <p></p>
                  </div>
                </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/SxgAzF4.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer MDL GAPOS 102</h2>
                    <p></p>
                  </div>
                </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/luWhLtF.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer MDL GAPOS 102</h2>
                    <p></p>
                  </div>
                </div>  
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/4cAaPAj.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer MDL GAPOS 103 </h2>
                    <p></p>
                  </div>
                </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/tyaGByQ.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer MDL GAPOS 103 </h2>
                    <p></p>
                  </div>
                </div>
               </div>
            <!-- < Carousel nav --> 
            <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
        </div> 
      </div>

    <div class="container">

      <h1 class="my-4">Introducing the EC Pediatric Immobilizer Device</h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Only of its Kind</h4>
            <div class="card-body">
              <p class="card-text">We are the exclusive manufacturer, marketer and seller of the EC Pediatric Immobilizer
                .</p>
            </div>
            <div class="card-footer"> <br><br>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">No Sedation</h4>
            <div class="card-body">
              <p class="card-text">Circumvent the use of sedation to immobilize agitated children during medical procedures</p>
            </div>
            <div class="card-footer">
            </div> <br><br>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">100% Guaranteed</h4>
            <div class="card-body">
              <p class="card-text">The EC immobilizer Pediatric Device is 100% guaranteed to perfom as demonstrated and reduce time by half for all medical examinations</p>
            </div> <br><br>

             <div class= "questions">
              <h1> What makes our devices unique compared to other devices?</h1> <br><br>
              <h2>Our Devices are a breakthrough in Immobilization Technology</h2> <br><br>
                <p>Most immobilizer devices are made to mummify the patient with straps just like the mummfied pharoahs of Egypt.
                  Children  subjected to needles and scary medical machines during a medical examination are surely going to be frightened leading to yelling, kicking, and lots of unpredictable movements. Our devices is based on applying a splint against all movable joints of the body, such as the head , neck, elbows, knees, and the entire vertebrae. This is to prevent bending or extending that could cause disoloaciton or displacement. For example the restraining chair below.
                </p>
              
                <img class="center" src="https://i.imgur.com/AFi0lkJ.jpg?1" alt="chair"> <br><br>
                  <p>
                    The EC Pediatric Immobilizer Device MDL Gapos 102 is made of three pairs of vinyl straps that are attached to plastic buckles. These buckles are what immobilize the joints of the body. The straps are wrapped around on each knee and elbow joint and also around the forehead for more security. A pair of cyndrical foam is used to secure the head and neck area using a velcro fastener. A back board made of plastic material which is translucent to X-rays, is used as a splint for all sections of the vertebrae, cervical, thoracic , and lumbar spine. 
                  </p> <br>
                  <img class="center" src="https://i.imgur.com/OMyJEFB.jpg?1" alt=""><br>
                  <h2>Why is it necessary to use these devices? Are they not traumatic for both parents and children?</h2> <br>
                    <p>
                      The benifits of imaging usally outweigh the risk of radiation-induced cancer. As we all know, exposure to radiation can cause damage to cellular cells, leading to DNA mutation(cell death), which can lead to induced cancers such as leukemia, myeloma, thyroid cancer, breast cancer, brain cancer, bone cancer, lung cancer and skin cancer. It is a big health risk especially to young children. The goal of these EC immobilizer devices are to avoid repeats of medical examination due to unclear imaging due to so much movment, reducing the exposure to unnecessary radiation.
                    </p>
                  </div>

            </div>
          </div>
        </div>
      </div>
        </div> <br><br>
<%- include _layouts/footer.ejs %>
  

