<%- include _layouts/header.ejs %>
<!-- <div class= "bg"> -->
<!-- <div id= "readjust" class="container">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
                <li data-target="#carousel" data-slide-to="5"></li>
            </ol> -->
            <!-- Carousel items -->
            <!-- <div class="carousel-inner carousel-zoom">
                <div class="active item"><img class="img-responsive" src="https://i.imgur.com/wNmGsLc.jpg">
                  <div class="carousel-caption">
                    <h2>EC Immobilzer Pediatric Restraining Chair</h2>
                    <p></p>
                  </div> -->
      
                <!-- </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/crEMw1o.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer Restraining Chair</h2>
                    <p></p>
                  </div>
                </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/SxgAzF4.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer  MDL GAPOS 102</h2>
                    <p></p>
                  </div>
                </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/luWhLtF.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer MDL GAPOS 102</h2>
                    <p></p>
                  </div>
                </div>  
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/4cAaPAj.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer Straps MDL GAPOS 103 </h2>
                    <p></p>
                  </div>
                </div>
                <div class="item"><img class="img-responsive" src="https://i.imgur.com/tyaGByQ.jpg">
                  <div class="carousel-caption">
                    <h2>EC Pediatric Immobilizer Straps MDL GAPOS 103 </h2>
                    <p></p>
                  </div>
                </div>
               </div> -->
            <!-- < Carousel nav --> 
            <!-- <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
            <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
        </div> 
      </div> -->

    <div class= "container">

      <h1 class="my-4"> Welcome to the  EC Immobilizer Corporation</h1><br><br>
        <h3 class="my-4">Why work harder, when you can work smarter?</h3>
        <img class= "center2" src="https://i.imgur.com/G37z2Dx.jpg" alt="immobilizer"> <br>
          <p>Exposing medical staff and patients to unnecessary secondary radiation is an extreme health hazard. Prolonged radition exposure can lead to extensive cell damage that can induce a number of cancers including leukemia, myeloma, thryoid, breast, lung, bone and skin cancer. Uncooperative patients moving during radiation procedures leads to blurred images and undiagnosed examinations. Due to this, a repeat procedure is needed, doubling the exposure of radiation to the patient and the medical staff. For the general public's safety, it is required by both Federal and State laws to provide radiation safety devices to cut down medical radiation exposure.</p>
    
      <h3 class="my-4"> Now lets work smarter!</h3> <br><br>
      <div>
          <div class="imgContainer">
              <h4 class="my-4">EC Pediatric Restraining Chair</h4>
              <img src="https://i.imgur.com/o3dU4he.jpg" height="300" width="300"/>
              </div> 
          <div class="imgContainer2">
              <h4 class= "my-4">EC Pediatric Immobilizer</h4>
              <img class="middle-img" src="https://i.imgur.com/KeE1ate.jpg"/ height="300" width="300"/>
             </div>
          </div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <div class= "container">
            <ul>
              <li>The <b>EC Pediatric Immobilizer</b> and the <b>EC Pediatric Restraining Chair</b> will immobilize pediatric patients by 100% from head to toe for all medical procdeures and examinations</li>
              <li>Guaranteed to cut all time consuming medical examinations such as X-rays or MRI in half</li>
              <li>No need for drug sedation</li>

            </ul>
          </div> <br><br>
          <div class="container center2">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/Z1KmWtG32d4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

<%- include _layouts/footer.ejs %>
  

