<%- include _layouts/header.ejs %>

<div class= "container">
    <h1 class= "my-4">Q & A</h1><br><br>
    <h2 class="my-4"> What makes these devices unique compared to other medical immobilization devices?</h2><br>
        <ul>
            <li>Both the <b>EC Pediatric Restraining Chair</b> and the <b>EC Immobilzation Device</b> assist in 100% full body immobilization without causing the patient pain or distress. There is absolutely no need for the child to be help down by hospital staff during procedures.</li>
            <li>These products were made based on the concept of a <i>splint immobilization technology</i>; with the straps and buckles immobilizing all movevable joints such as the head and neck, elbow, knees, and spine, all while making sure the patient is still comforatble.</li>
            <li>The design of the <b>EC Pediatric Restraining Chair</b> fits infants of 8 weeks to children 4 years of age and is similar to that of a car seat, making children more comfotable and familiar being put in the the upright posistion without resistance. Due to the design this chair has less movable parts and is portable, making it easy to move from one room to another.</li>
        </ul> <br>
        <h2 class="my-4">What procedures can the EC Pediatric Immobilizer assist in?</h2>
                <ul>
                    <li>The <b>EC Pediatric Immobilizer</b> can assist in procedures in the Emergency Department, Radiology, Urgent Care, and Imaging Centers for infants 8 weeks of age to children 6 yeara of age.</li>
                    <li>This device is most useful in CAT/SCAN, MRI, and Nuclear Medicine procedures.</li>
                    <li>Can do sutures on all parts of a child's body</li>
                    <li>Can be used to extract blood & spinal fluid specimen where other device cannot do.</li>
                    <li>Can be used to introduce foley-catheters for both male and female pediatric patients.</li>
                </ul><br>
    <h2 class="my-4">Why is it necessary to use medcial immobilization devices for pediatric patients?</h2><br>
        <ul>
            <li>It is a common occurance for children to be fearful of most medical procedures and is proven so when they move around and cry while in the examination room. This not only brings distress to the patient, but also to the patient's parents. To add to that, medical staff are sometimes utilized to physically restrain children. This leads to repeat examinations as well as prolonged radation exposure. Immobilization devices are needed to provide medical staff with efficient and safe ways to proceed with X-ray examinations and emergency procedures. Both the EC Pediatric Restraining Chair and the EC Immobilizer Device provice comfort and effiency so that there is no need for drug sedation or repeat examinations.   </li>
        </ul><br>
        <h2 class= "my-4">Is repeat radiation exposure from x-ray examinations harmful?</h2><br>
            <ul>
                <li>Most concerns for repeat radiation exposure are for infants and small children. Radiation ionizing exposure can cause damage on a cellular level, potentially causing DNA mutation or cell death. This can lead to induced cancers such as leukemia, myeloma, thryoid, breast, brain, lung, and skin cancer. The use of the EC Pediatric Restraining Chair and the EC Immobilizer Device will stop the need for repeat examinations and will no longer produce undiagnosable blurry images.</li>
            </ul><br>
            <h2 class= "my-4"> Are the materials used in these devices safe?</h2><br>
            <ul>
                <li>Yes the materials used in these devices are FDA approved and made is the USA. All components of these devices are durable and easily sanitized after each procedure. There are also foam components added to both devices that can aid in making the paitents comfortable during any examination procedure.</li>
            </ul><br>
            
                <h3 class="my-4">For more inquiries or question regarding these devices please contact us.</h3> <br>
            <div class="container center2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Z1KmWtG32d4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


</div>

<%- include _layouts/footer.ejs %>