<%- include _layouts/header.ejs %>
<div class= "container">
<h1> Referral</h1><br><br>
    <p>
        Working in radiology for 20 years, I can say with experience, that uncooperative pediatric patients
       can be unpleasant and time consuming situation. Retakes and poor diagnostic images are an unfortunate result.
       Having dealt with a variety of immobilization tools and products to assist radiology tech to hold a combative
       child in place for X-rays, I highly recommend the EC Pediatric Restraining chair and EC Pediatric Immobilizer Devices.
</p>

<br>
    <p>
        Not only does it do the job, it saves unnecessary exposure to radiation for both the parents and medical staff.
        It's compact chair like design is a plus. It can be transported anywhere for chest x-ray or used exclusively in
        the X-ray room. The EC Pediatric Restraining Chair reminds me of a car seat with a seat belt. This is less intimidating
        then some products out in the market used for the same thing. Parents have comments to me that they were more comfortable
        with these devices by the look and stability of its structure. This is an excellent product that all medical radiology professionals should conisder for the pediatric medical and radiological procedures.
</p> <br><br>
    <p>
        Levi Decologon L.T.D. (RT) (A.R.R.T) <br>
        CNH Saviers Rd, Oxnard, CA <br>
        TEL. # (805)-487-5585

    </p>
</div>
<%- include _layouts/footer.ejs %>