html, body {
  height: 100%;
 
}

body {
  background: linear-gradient( 180deg, rgb( 247, 248, 245) 50%,#3a4660b0 50%) no-repeat fixed;

}
p {
  font-size: 15px;
}
a , h1 , h2, h3, h4, p {
  
  font-family: 'Playfair Display', serif;
}

.navbar {
  background-color: #3a4660;
}

a, .card-header, .btn, .btn-primary {
  color: #ed8a63;
  font-size: 17px;
}
.icon-bar {
  background-color: #ed8a63;
}
.list-group-item {
  background-color: #3a4660;
}
.footer {
  background-color:#3a4660
}

footer {
  background-color: #3a4660;
  color: #ed8a63;
}

.edwin {
  height: 425px;
  width: 370px;
  float: left;
  padding: 10px 18px;

  
}
#edtitle {
  text-align: left;
  padding-left: 45px;
  color: #ed8a63 
}
.bio {
  text-align: left;
}
.aboutme {
  padding: 3rem 1.5rem;
  text-align: center;
}
.contact {
  text-decoration: none;
  list-style-type: none;
}
.contactus {
  text-align: center;
}

.learn, .card-header, .card-text, .my-4 {
  text-align: center;
}

.doc {
  width: 1600px;
  height: 400px;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
img.pimage {
  width:  120px;
}
a.pa {
  display: inline-block;
  height: 160px;
}

.row.products .p {
  margin-top: 20px;
  margin-bottom: 20px;
}

img.spi {
  width: 100%;
}

ul.gallery li {
  display: inline-block;
  margin: 20px;
  list-style: none;
}

img.cpi {
  width: 100px;
}

table.alignmiddle {
  vertical-align: middle !important;
}

.ajaxbg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255,.8);
  z-index: 2;
  display: none;
}

.ajaxinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pp {
  position: absolute;
  left: -3000px;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}





